<?xml version="1.0"?>

<launch>
    
    <arg name="frequency" default="20.0"/>
    <arg name="cmd_topic" default="/base/base_pad/cmd_vel"/>
    <arg name="joint_state_topic" default="/base/joint_states"/>
    <arg name="odom_topic" default="/ekf_localization_slam_node/slam_odom_magnetic"/>
    <arg name="lyapunov_enable" default="true"/>
    <arg name="lyapunov_topic" default="/lyapunov"/>
    <arg name="trajectory_pts_topic" default="/sherpa/trajectory_pts"/>
    <arg name="waypoint_topic" default="/waypoint"/>
    <arg name="yaw_topic" default="/yaw_navigation"/>
    <arg name="threshold_time" default="2.0"/>
    <arg name="threshold_pose" default="0.20"/>
    <arg name="threshold_trajectory" default="0.30"/> 

    <!-- ackermann controller node -->
    <node name="ackermann_controller" pkg="rm3_ackermann_controller" type="ackermann_controller" output="screen">
        <param name="frequency" value="$(arg frequency)"/>
        <param name="cmd_topic" value="$(arg cmd_topic)"/>
        <param name="joint_state_topic" value="$(arg joint_state_topic)"/>
        <param name="odom_topic" value="$(arg odom_topic)"/>
        <param name="lyapunov_enable" value="$(arg lyapunov_enable)"/>
        <param name="lyapunov_topic" value="$(arg lyapunov_topic)"/>
        <param name="trajectory_pts_topic" value="$(arg trajectory_pts_topic)"/>
        <param name="waypoint_topic" value="$(arg waypoint_topic)"/>
        <param name="yaw_topic" value="$(arg yaw_topic)"/>
        <param name="threshold_time" value="$(arg threshold_time)"/>
        <param name="threshold_pose" value="$(arg threshold_pose)"/>
        <param name="threshold_trajectory" value="$(arg threshold_trajectory)"/>
    </node>
   
  
</launch>
